@model ProjectManagementWeb.Models.DuAn

@{
    ViewBag.Title = "ThongTinTienDoUser";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2 style="text-align:center ; font-size:50px" >Thông Tin Tiến Độ</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayBatDau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayBatDau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayKetThuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayKetThuc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NganSach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NganSach)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "XemTienDoUser", null, new { @class = "btn btn-success" }) |
    @Html.ActionLink("Edit", "Edit", null, new { id = Model.DuAnID }, new { @class = "btn btn-warning" })
</p>
